<ul class="nav pull-right">
	<%=  @user.user_name %>
</ul>


<p class="bg-warning">Words to Learn</p>
<% for w in @wordsToLearn %>
		<li >
			<%=  w.word_english %>
			<%=  w.word_chinese %>
			<%=  w.word_category %>
		</li>
<% end %>
<p class="bg-info">Words Learnt</p>
<% for w in @wordsLearnt %>
		<li >
			<%=  w.word_english %>
			<%=  w.word_chinese %>
			<%=  w.word_category %>
		</li>
<% end %>
