<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user.user_id %>
</p>

<p>
  <b>User name:</b>
  <%= @user.user_name %>
</p>

<p>Words to Learn! </p>

<% for word in @wordsToLearn %>
	<ul >
		<%=  word %>
	</ul>
<% end %>

<p>Words Learnt! </p>
<% for word in @wordLearnt %>
	<ul >
		<%=  word %>
	</ul>
<% end %>