<div class="tabbable">
<ul class="nav nav-tabs" role="tablist">
  <li><a href="#tolearn" class="active">Words to Learn</a></li>
  <li><a href="#learnt">Words Learnt</a></li>
</ul>

<div class="tab-content">
	<div id="tolearn" class="tab-pane active">
		<% for w in @wordsToLearn%>
		<li >
			<%=  w.word_english%>
			<%=  w.word_chinese%>
			<%=  w.word_difficulty_id %>
			<%=  w.word_category%>
		</li>
		<% end %>
	</div>

	<div id="learnt" class="tab-pane">
		<p>Words Learnt </p>
		<% for w in @wordsLearnt %>
		<li >
			<%=  w.word_english%>
			<%=  w.word_chinese%>
			<%=  w.word_difficulty_id %>
			<%=  w.word_category%>
		</li>
		<% end %>
	</div>
</div>
</div>
