<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user.user_id %>
</p>

<p>
  <b>User name:</b>
  <%= @user.user_name %>
</p>

<p>Words to Learn! </p>
<% for w in @wordsToLearn%>
<li >
	<%=  w.word_english%>
	<%=  w.word_chinese%>
	<%=  w.word_difficulty_id %>
	<%=  w.word_category%>
</li>
<% end %>

<p>Words Learnt </p>
<% for w in @wordsLearnt %>
<li >
	<%=  w.word_english%>
	<%=  w.word_chinese%>
	<%=  w.word_difficulty_id %>
	<%=  w.word_category%>
</li>
<% end %>
