<%= form_for @quiz, url: {action: "addquiz"} do |f| %>
 
  <% if @quiz.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited
          this translation from being saved:</h2>
      <ul>
      <% @quiz.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
      <%= f.label :url %><br />
      <%= f.text_field :url %>
    </div>
    <div class="field">
      <%= f.label :word %><br />
      <%= f.text_field :word %>
    </div>
    <div class="field">
      <%= f.label :option1 %><br />
      <%= f.text_field :option1 %>
    </div>
    <div class="field">
      <%= f.label :option2 %><br />
      <%= f.text_field :option2 %>
    </div>
    <div class="field">
      <%= f.label :option3 %><br />
      <%= f.text_field :option3 %>
    </div>
    <div class="field">
      <%= f.label :quiztype %><br />
      <%= f.select :quiztype, options_for_select([['English-to-Chinese', '0'], ['Chinese-to-English', '1']]) %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
