<h1>Hardcoded words view</h1>

<table>
      <thead>
        <tr>
          <th>url</th>
          <th>from</th>
          <th>option1</th>
          <th>option2</th>
          <th>option3</th>
        </tr>
      </thead>

      <% @hardcoded_quiz.each do |quiz| %>
            <tr>
          <td><%= quiz.url %></td>
          <td><%= quiz.word %></td>
          <td><%= quiz.option1%></td>
          <td><%= quiz.option2%></td>
          <td><%= quiz.option3%></td>
          <td><a href="/hardcode/deletequiz?id=<%= quiz.id%>">Delete</a></td>
        </tr>
    <% end %>
</table>

