<%= form_for(@dictionary) do |f| %>
  <% if @dictionary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dictionary.errors.count, "error") %> prohibited this dictionary from being saved:</h2>

      <ul>
      <% @dictionary.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :word_english %><br />
    <%= f.text_field :word_english %>
  </div>
  <div class="field">
    <%= f.label :word_chinese %><br />
    <%= f.text_field :word_chinese %>
  </div>
  <div class="field">
    <%= f.label :word_category %><br />
    <%= f.text_field :word_category %>
  </div>
  <div class="field">
    <%= f.label :word_difficulty_id %><br />
    <%= f.number_field :word_difficulty_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
